# Download train.csv from kaggle titanic dataset: 
https://www.kaggle.com/competitions/titanic/overview

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [3]:
first_five_rows = df.head()
try:
    assert first_five_rows.shape[0] == 5, f"Expected 5 rows, but got {first_five_rows.shape[0]}"
    print(True)
except:
    print(False)

True

In [4]:
mean_age = df["Age"].mean()
expected_mean_age = df['Age'].mean()
try:
    assert np.isclose(mean_age, expected_mean_age), f"Expected {expected_mean_age}, but got {mean_age}"
    print(True)
except:
    print(False)

True

In [5]:
missing_cabin = df["Cabin"].isnull().sum()
expected_missing_cabin = df['Cabin'].isnull().sum()
try:
    assert missing_cabin == expected_missing_cabin, f"Expected {expected_missing_cabin}, but got {missing_cabin}"
    print(True)
except:
    print(False)

True

In [6]:
female_df = df[df["Sex"] == "female"]
try:
    assert female_df['Sex'].unique() == ['female'], "DataFrame contains non-female passengers"
    print(True)
except:
    print(False)

True

In [7]:
survival_rate = df["Survived"].mean()*100
expected_survival_rate = (df['Survived'].mean()) * 100
try:
    assert np.isclose(survival_rate, expected_survival_rate), f"Expected {expected_survival_rate}, but got {survival_rate}"
    print(True)
except:
    print(False)

True

In [8]:
df['FamilySize'] = df['SibSp'] + df['Parch']
expected_family_size = df['SibSp'] + df['Parch']
try:
    assert df['FamilySize'].equals(expected_family_size), "Column 'FamilySize' not created correctly"
    print(True)
except:
    print(False)

True

In [9]:
most_common_embarkation = df['Embarked'].mode()[0]
expected_common_embarkation = df['Embarked'].mode()[0]
try:
    assert most_common_embarkation == expected_common_embarkation, f"Expected {expected_common_embarkation}, but got {most_common_embarkation}"
    print(True)
except:
    print(False)

True

In [10]:
mean_fare_by_class = df.groupby(by="Pclass")["Fare"].mean().to_dict()
expected_mean_fare_by_class = df.groupby('Pclass')['Fare'].mean().to_dict()
try:
    assert mean_fare_by_class == expected_mean_fare_by_class, f"Expected {expected_mean_fare_by_class}, but got {mean_fare_by_class}"
    print(True)
except:
    print(False)

True

In [11]:
sorted_by_age_df = df.sort_values(by="Age")
expected_sorted_names_by_age = df.sort_values(by='Age')['Name'].tolist()
try:
    assert sorted_by_age_df['Name'].tolist() == expected_sorted_names_by_age, "DataFrame not sorted correctly by age"
    print(True)
except:
    print(False)

True

In [12]:
reset_sorted_by_age_df = df.reset_index()
try:
    assert reset_sorted_by_age_df.index.tolist() == list(range(df.shape[0])), f"Index not reset correctly"
    print(True)
except:
    print(False)

True

In [13]:
unique_pclass_values = df["Pclass"].unique()
expected_unique_pclass_values = df['Pclass'].unique()
try:
    assert np.array_equal(unique_pclass_values, expected_unique_pclass_values), f"Expected {expected_unique_pclass_values}, but got {unique_pclass_values}"
    print(True)
except:
    print(False)

True

In [14]:
older_than_30_df = df[df["Age"] > 30]
try:
    assert older_than_30_df['Age'].min() > 30, "DataFrame contains passengers 30 or younger"
    print(True)
except:
    print(False)

True

In [15]:
pivot_table_survival = df.pivot_table(values='Survived', index='Pclass', aggfunc='mean').to_dict()['Survived']
expected_pivot_table_survival = df.pivot_table(values='Survived', index='Pclass', aggfunc='mean').to_dict()['Survived']
try:
    assert pivot_table_survival == expected_pivot_table_survival, f"Expected {expected_pivot_table_survival}, but got {pivot_table_survival}"
    print(True)
except:
    print(False)

True

In [16]:
fare_std = df["Fare"].std()
expected_fare_std = df['Fare'].std()
try:
    assert np.isclose(fare_std, expected_fare_std), f"Expected {expected_fare_std}, but got {fare_std}"
    print(True)
except:
    print(False)

True

In [17]:
new_passenger = pd.DataFrame([{
    'PassengerId': df['PassengerId'].max() + 1,
    'Survived': 0,
    'Pclass': 3,
    'Name': 'Test Passenger',
    'Sex': 'male',
    'Age': 25,
    'SibSp': 0,
    'Parch': 0,
    'Ticket': '0000',
    'Fare': 7.25,
    'Cabin': 'E50',
    'Embarked': 'S'
}])
df = pd.concat([df, new_passenger], ignore_index=True)
try:
    assert df.iloc[-1]['Name'] == 'Test Passenger', "New passenger not added correctly"
    print(True)
except:
    print(False)

True

In [18]:
high_fare_df = df[df["Fare"] > 100]
try:
    assert high_fare_df['Fare'].min() > 100, "DataFrame contains passengers who paid 100 or less"
    print(True)
except:
    print(False)

True

In [19]:
average_age_by_embarkation = df.groupby(by="Embarked")["Age"].mean().to_dict()
expected_average_age_by_embarkation = df.groupby('Embarked')['Age'].mean().to_dict()
try:
    assert average_age_by_embarkation == expected_average_age_by_embarkation, f"Expected {expected_average_age_by_embarkation}, but got {average_age_by_embarkation}"
    print(True)
except:
    print(False)

True

In [20]:
passenger_count_by_class = df['Pclass'].value_counts().to_dict()
expected_passenger_count_by_class = df['Pclass'].value_counts().to_dict()
try:
    assert passenger_count_by_class == expected_passenger_count_by_class, f"Expected {expected_passenger_count_by_class}, but got {passenger_count_by_class}"
    print(True)
except:
    print(False)

True

In [21]:
def categorize_age(age):
    if age < 18:
        return 'Child'
    elif age <= 60:
        return 'Adult'
    else:
        return 'Senior'

df['AgeGroup'] = df['Age'].apply(categorize_age).tolist()
expected_age_groups = df['Age'].apply(categorize_age).tolist()
try:
    assert df['AgeGroup'].tolist() == expected_age_groups, "Column 'AgeGroup' not created correctly"
    print(True)
except:
    print(False)

True