In [182]:
import pandas as pd

In [183]:
df = pd.read_csv('data.csv')
df.head()

,Unnamed: 0,Safety,yacEPA,Drive,FieldGoalDistance,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
0,244485,0,1.240299,18,NaN,-0.588101,0.309404,TB,0,NaN,...,0,3,3,NaN,1,1,2014,0.000527,0.024134,0
1,115340,0,NaN,22,NaN,NaN,0.198142,OAK,0,NaN,...,0,4,3,NaN,0,7,2011,0.001883,0.246929,0
2,68357,0,NaN,8,NaN,NaN,0.000000,NYJ,0,NaN,...,0,2,1,NaN,0,1,2010,0.000000,0.000000,0
3,368377,0,1.075660,24,NaN,0.402080,0.258227,CLE,0,NaN,...,0,4,0,NaN,1,9,2017,0.000845,0.133814,0
4,384684,0,NaN,11,NaN,NaN,0.199771,DEN,0,NaN,...,0,2,2,end,0,10,2017,0.003453,0.170787,0

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40769 entries, 0 to 40768
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   40769 non-null  int64
 1   Safety                       40769 non-null  int64
 2   yacEPA                       15867 non-null  float64
 3   Drive                        40769 non-null  int64
 4   FieldGoalDistance            902 non-null    float64
 5   airEPA                       15875 non-null  float64
 6   Field_Goal_Prob              40748 non-null  float64
 7   posteam                      38219 non-null  object
 8   Penalty.Yards                40769 non-null  int64
 9   FieldGoalResult              908 non-null    object
 10  DefTeamScore                 38019 non-null  float64
 11  Tackler2                     4943 non-null   object
 12  Away_WP_pre                  38223 non-null  float64
 13  Timeout_Indicator            40769 non-null  int64
 14  ydsnet                       40769 non-null  int64
 15  TimeSecs                     40742 non-null  float64
 16  Passer                       16696 non-null  object
 17  Touchdown                    40769 non-null  int64
 18  TwoPointConv                 53 non-null     object
 19  PassOutcome                  16751 non-null  object
 20  PlayTimeDiff                 40726 non-null  float64
 21  RushAttempt                  40769 non-null  int64
 22  Accepted.Penalty             40769 non-null  int64
 23  qtr                          40769 non-null  int64
 24  AwayTimeouts_Remaining_Post  40769 non-null  int64
 25  RunGap                       8761 non-null   object
 26  Reception                    40769 non-null  int64
 27  TimeUnder                    40769 non-null  int64
 28  Season                       40769 non-null  int64
 29  Opp_Safety_Prob              40748 non-null  float64
 30  No_Score_Prob                40748 non-null  float64
 31  Challenge.Replay             40769 non-null  int64
dtypes: float64(10), int64(15), object(7)
memory usage: 10.0+ MB

In [185]:
count_nulls = (df.isna().sum()/40769*100).to_dict()
data10, data80, dropCols = [], [], []
for x in count_nulls:
    if 0 < count_nulls[x] < 10:
        data10.append(x)
    elif 10 <= count_nulls[x] <= 80:
        data80.append(x)
    elif count_nulls[x] > 80:
        dropCols.append(x)

In [186]:
df = df.drop(columns=dropCols)
# 80% dan kop malumot yoqligi uchun bu columnlarni uchirdim

In [187]:
strings = []
for item in data80:
    if type(df[item].to_list()[0]) == str or df[item].isna()[0] == True:
        strings.append(item)
        continue
    print(item, end=' ')
    print(f'Min: {df[item].min()}', end=' ')
    print(f'Max: {df[item].max()}')

yacEPA Min: -14.0 Max: 8.390142641493673
airEPA Min: -5.930319076316459 Max: 6.3974951195695535

In [188]:
df['yacEPA'] = df['yacEPA'].fillna(999)
df['airEPA'] = df['airEPA'].fillna(999)
# bu ustunlarni max va min lari uncha katta bolmaganligi uchun nan orniga 999 qoyildi

In [189]:
for item in strings:
    print(df[item].value_counts(), end='\n\n\n\n\n')

Passer
D.Brees             577
E.Manning           541
M.Stafford          534
T.Brady             523
P.Rivers            514
                   ...
T.Hill                1
B.Daniels             1
G.Harrell             1
EMPT. Alex Smith      1
J.Callahan            1
Name: count, Length: 187, dtype: int64




PassOutcome
Complete           10122
Incomplete Pass     6629
Name: count, dtype: int64




RunGap
end       3154
tackle    2915
guard     2692
Name: count, dtype: int64

In [190]:
strings

['Passer', 'PassOutcome', 'RunGap']

In [191]:
df[strings[2]].value_counts()

RunGap
end       3154
tackle    2915
guard     2692
Name: count, dtype: int64

In [192]:
df[strings[2]] = df[strings[2]].fillna('Missing')
# bu column da faqat 3 hil yozuv borakan shunin uchun mode olmasdan missing qoydim

In [193]:
df[strings[0]].value_counts()

Passer
D.Brees             577
E.Manning           541
M.Stafford          534
T.Brady             523
P.Rivers            514
                   ...
T.Hill                1
B.Daniels             1
G.Harrell             1
EMPT. Alex Smith      1
J.Callahan            1
Name: count, Length: 187, dtype: int64

In [194]:
passerMode = df[strings[0]].mode()
df[strings[0]] = df[strings[0]].fillna(passerMode)
# bu column uchun nan toldirish uchun mode olindi

In [195]:
df[strings[1]].value_counts()

PassOutcome
Complete           10122
Incomplete Pass     6629
Name: count, dtype: int64

In [196]:
df[strings[1]] = df[strings[1]].fillna('Missing')

In [197]:
df[data10]

,Field_Goal_Prob,posteam,DefTeamScore,Away_WP_pre,TimeSecs,PlayTimeDiff,Opp_Safety_Prob,No_Score_Prob
0,0.309404,TB,10.0,0.774353,939.0,12.0,0.000527,0.024134
1,0.198142,OAK,14.0,0.943964,407.0,44.0,0.001883,0.246929
2,0.000000,NYJ,13.0,0.634693,1823.0,0.0,0.000000,0.000000
3,0.258227,CLE,31.0,0.064005,528.0,8.0,0.000845,0.133814
4,0.199771,DEN,24.0,0.071526,2355.0,0.0,0.003453,0.170787
...,...,...,...,...,...,...,...,...
40764,0.381506,NO,0.0,0.163670,2868.0,31.0,0.000021,0.005075
40765,0.244675,DEN,0.0,0.139549,1962.0,20.0,0.000134,0.287528
40766,0.147057,ATL,10.0,0.467202,1856.0,27.0,0.001132,0.612357
40767,0.373774,IND,13.0,0.773475,1289.0,7.0,0.000042,0.002641
40768,0.210732,CIN,3.0,0.613732,2776.0,5.0,0.006138,0.040037

In [198]:
data10Str = []
for item in data10:
    if type(df[item].to_list()[0]) == str or df[item].isna()[0] == True:
        data10Str.append(item)
        continue
    print(item, end=' ')
    print(f'Min: {df[item].min()}', end=' ')
    print(f'Max: {df[item].max()}', end=' ')
    print(f'Med: {df[item].median()}')

Field_Goal_Prob Min: 0.0 Max: 0.9945918969349068 Med: 0.2306319714387671
DefTeamScore Min: 0.0 Max: 61.0 Med: 10.0
Away_WP_pre Min: 0.0 Max: 1.0 Med: 0.471362239854573
TimeSecs Min: -900.0 Max: 3600.0 Med: 1800.0
PlayTimeDiff Min: 0.0 Max: 927.0 Med: 18.0
Opp_Safety_Prob Min: 0.0 Max: 0.0289499430224639 Med: 0.0009774148652909
No_Score_Prob Min: 0.0 Max: 1.0 Med: 0.024740681704098648

In [199]:
for item in data10:
    if item in data10Str:
        continue
    else:
        df[item] = df[item].fillna(df[item].median())
    
# 0% dan 10% foizgacha bo'lgan nan larni median bilan toldirildi

In [200]:
data10Str

['posteam']

In [201]:
df[data10Str].value_counts()

posteam
DEN        1284
PHI        1244
DET        1243
NO         1233
BAL        1218
IND        1218
NE         1216
SEA        1211
KC         1210
HOU        1209
ARI        1208
SF         1207
WAS        1201
GB         1198
DAL        1192
CIN        1189
CHI        1188
BUF        1186
NYJ        1183
MIN        1182
NYG        1181
OAK        1180
ATL        1167
MIA        1160
TB         1149
PIT        1147
TEN        1138
CAR        1128
CLE        1117
SD         1086
STL         968
JAC         936
JAX         272
LA          255
LAC         115
Name: count, dtype: int64

In [202]:
df[data10Str] = df[data10Str].fillna('Missing')
# bu column davlatlarni nomi ekanligi uchun missing qoyildi

In [203]:
df

,Unnamed: 0,Safety,yacEPA,Drive,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,DefTeamScore,Away_WP_pre,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
0,244485,0,1.240299,18,-0.588101,0.309404,TB,0,10.0,0.774353,...,0,3,3,Missing,1,1,2014,0.000527,0.024134,0
1,115340,0,999.000000,22,999.000000,0.198142,OAK,0,14.0,0.943964,...,0,4,3,Missing,0,7,2011,0.001883,0.246929,0
2,68357,0,999.000000,8,999.000000,0.000000,NYJ,0,13.0,0.634693,...,0,2,1,Missing,0,1,2010,0.000000,0.000000,0
3,368377,0,1.075660,24,0.402080,0.258227,CLE,0,31.0,0.064005,...,0,4,0,Missing,1,9,2017,0.000845,0.133814,0
4,384684,0,999.000000,11,999.000000,0.199771,DEN,0,24.0,0.071526,...,0,2,2,end,0,10,2017,0.003453,0.170787,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40764,79438,0,999.000000,3,999.000000,0.381506,NO,0,0.0,0.163670,...,0,1,3,guard,0,3,2010,0.000021,0.005075,0
40765,398233,0,999.000000,9,999.000000,0.244675,DEN,0,0.0,0.139549,...,0,2,3,guard,0,3,2017,0.000134,0.287528,0
40766,396466,0,999.000000,8,999.000000,0.147057,ATL,0,10.0,0.467202,...,0,2,1,guard,0,1,2017,0.001132,0.612357,0
40767,333861,0,0.025040,14,0.280049,0.373774,IND,0,13.0,0.773475,...,0,3,3,Missing,1,7,2016,0.000042,0.002641,0
40768,247608,0,-2.441755,6,1.692283,0.210732,CIN,0,3.0,0.613732,...,0,1,3,Missing,0,2,2014,0.006138,0.040037,0